<section class="popular page-section">
  <div class="container">

    <h2 class="popular__title title">Популярные блюда</h2>

    <ul class="filters">
      <li class="filters__item">
        <button class="filters__btn filters__btn--rolls" type="button" data-filter=".category-rolls">Роллы</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--sushi" type="button" data-filter=".category-sushi">Суши</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--wok" type="button" data-filter=".category-wok">Wok</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--drink" type="button" data-filter=".category-drink">Напитки</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--desserts" type="button" data-filter=".category-desserts">Десерты</button>
      </li>
    </ul>

    <div class="popular__box">
      <ul class="popular__list">

        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_whiteTiger.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_volcanoWithShrimp.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_volcanoWithTunaAndSalmon.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_spiceVolcano.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_volcanoCheese.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_autumn.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_creamyChicken.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_tornado.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_tomagoSpice.html')
        </li>
        <li class="mix category-rolls">
          @include('../_product-card/_baked-rolls/_cheeseAbi.html')
        </li>


        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_gunkanWithShrimp.html')
        </li>
        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_gunkanWithTuna.html')
        </li>
        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_gunkanWithEel.html')
        </li>
        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_shrimp.html')
        </li>
        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_tuna.html')
        </li>
        <li class="mix category-sushi">
          @include('../_product-card/_sushi/_eel.html')
        </li>


        <li class="mix category-wok">
          @include('../_product-card/_wok/_vegetables.html')
        </li>
        <li class="mix category-wok">
          @include('../_product-card/_wok/_porkAndVegetables.html')
        </li>
        <li class="mix category-wok">
          @include('../_product-card/_wok/_shrimpAndVegetables.html')
        </li>
        <li class="mix category-wok">
          @include('../_product-card/_wok/_chickenAndVegetables.html')
        </li>


        <li class="mix category-drink">
          @include('../_product-card/_drinks/_strawberryCocktail.html')
        </li>
        <li class="mix category-drink">
          @include('../_product-card/_drinks/_chocolateCocktail.html')
        </li>
        <li class="mix category-drink">
          @include('../_product-card/_drinks/_morsCherry.html')
        </li>


        <li class="mix category-desserts">
          @include('../_product-card/_dessers/_bananaAndKiwiRoll.html')
        </li>
        <li class="mix category-desserts">
          @include('../_product-card/_dessers/_rollTropic.html')
        </li>
        <li class="mix category-desserts">
          @include('../_product-card/_dessers/_tiramisu.html')
        </li>

      </ul>
    </div>

    <a class="btn--underline" href="#">Показать еще</a>

  </div>
</section>