<section class="interest page-section">
  <div class="container">
    <h2 class="interest__title title">Вас может заинтересовать</h2>
    <ul class="interest__list">
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_philadelphiaLight.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_philadelphiaClassic.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_philadelphiaWithShrimp.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_philadelphiaWithTheEel.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_philadelphiaWithAvocado.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_pharaoh.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_gentleTomago.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_tenderShrimp.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_curlySalmon.html')
      </li>
      <li class="interest__item">
        @include('../_product-card/_big-rolls/_theRoyalDragon.html')
      </li>
    </ul>
  </div>
</section>