.interest {

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    padding: 3px 3px;
  }

  .slick-slide img {
    display: inline-block;
  }

  .slick-disabled circle {
    stroke: $orange-900;
  }

  .slick-disabled path {
    fill: $orange-900;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: -35%;

    & svg {
      transition: box-shadow 0.3s, background-color 0.3s;
    }

    & path {
      transition: fill 0.3s;
    }

    & circle {
      transition: stroke 0.3s;
    }

    &:focus svg {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 50%;
    }

    &:hover circle {
      stroke: rgba($orange-900, 0.5);
    }

    &:hover path {
      fill: rgba($orange-900, 0.5);
    }

    &:active circle {
      display: none;
    }

    &:active path {
      fill: $orange-900;
    }

    &:active svg {
      background-color: $hover-bg;
      border-radius: 50%;
    }

  }

  .slick-prev {
    right: 8%;
  }

  .slick-next {
    right: 3%;
  }

}

@media (max-width: 992px) {
    .slick-list {
        padding-bottom: 12px;
        text-align: center;
      }
    
      .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
    
        li {
          padding: 0 7px;
    
          button {
            font-size: 0;
            background-color: $grey;
            width: 15px;
            height: 15px;
            border-radius: 50%;
    
            &:focus {
              box-shadow: 0 0 0 2px $orange-900;
            }
    
            &:hover {
              box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
              background-color: $hover-bg;
            }
    
            &:active {
              background-color: rgba($orange-900, 0.7);
            }
    
          }
    
          &.slick-active {
    
            button {
              background-color: $orange-900;
            }
    
          }
    
        }
    
      }
}

@media (max-width: 576px) {

  .interest {

    &__title {
      margin-bottom: 30px;
    }

  }

}