.interest {

  &__item {
    padding: 3px;
  }

  .slick-prev,
  .slick-next {
    top: -35%;
  }

  .slick-prev {
    right: 8%;
  }

  .slick-next {
    right: 3%;
  }

  .product-card {
    margin: 0 auto;
  }

}

@media (max-width: 576px) {

  .interest {

    &__title {
      margin-bottom: 30px;
    }

  }

}