<article class="product-card" data-id="27">
    <a class="product-card__link" href="#" id="philadelphiaLight">
      <div class="product-card__top">
        <img class="product-card__img" src="images/products/big-rolls/1.png" width="210" height="140" alt="Ролл Филадельфия Лайт">
        <h3 class="product-card__name">Ролл Филадельфия Лайт</h3>
      </div>
      <span class="product-card__structure">
        <span>Вес: 255 г. / 8 шт.</span>
        <span>Калорийность: 162,00 Ккал / 677,8 кДж на 100 г.</span>
        <span>Б/Ж/У: 5,1 / 8,6 / 16,5</span>
        <span>Состав: Рис, лосось, сливочный сыр, нори</span>
      </span>
      <div class="product-card__bottom">
        <span class="product-card__price">248 <span>руб</span> . </span>
        <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
      </div>
    </a>
  </article>