<article class="product-card" data-id="30">
    <a class="product-card__link" href="#">
      <div class="product-card__top">
        <img class="product-card__img" src="images/products/big-rolls/4.png" width="210" height="140" alt="Ролл Филадельфия с угрем">
        <h3 class="product-card__name">Ролл Филадельфия с угрем</h3>
      </div>
      <span class="product-card__structure">
        <span>Вес: 264 г. / 8 шт.</span>
        <span>Калорийность: 162 Ккал / 677,81 кДж на 100 г.</span>
        <span>Б/Ж/У: 8,5 / 8,4 / 17,5</span>
        <span>Состав: Рис, лосось, сливочный сыр, копчёный угорь, огурец, нори </span>
      </span>
      <div class="product-card__bottom">
        <span class="product-card__price">350 <span>руб</span> . </span>
        <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
      </div>
    </a>
  </article>