<article class="product-card">
    <a class="product-card__link" href="#">
      <div class="product-card__top">
        <img class="product-card__img" src="images/products/big-rolls/2.png" width="210" height="140" alt="Ролл Филадельфия Классика">
        <h3 class="product-card__name">Ролл Филадельфия Классика</h3>
      </div>
      <span class="product-card__structure">
        <span>Вес: 253 г. / 8 шт.</span>
        <span>Калорийность: 190 Ккал / 794,96 кДж на 100 г.</span>
        <span>Б/Ж/У: 8,2 / 10,7 / 16,7</span>
        <span>Состав: Рис, лосось, сливочный сыр, нори </span>
      </span>
      <div class="product-card__bottom">
        <span class="product-card__price">390 <span>руб</span> . </span>
        <button class="btn product-card__btn" type="submit">В корзину</button>
      </div>
    </a>
  </article>