$silver-100: #F9FAFF;
$orange-900: #FF6838;
$dark: #31352B;
$darkBlue-900: #363853;
$white: #fff;
$black: #000;
$dark-theme: #101010;
$grey: #C2C2C2;
$silver-200: #ECECEC;
$hover-bg: #FFF2ED;


$rubik: "Rubik";
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

@mixin states () {
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    &:focus {
        box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
        border-radius: 5px;
    }

    &:hover {
        color: $orange-900;
    }

    &:active {
        text-shadow: 2px 2px 5px rgba($dark, 0.5);
        color: $dark;
    }
}