$silver-100: #F9FAFF;
$orange-900: #FF6838;
$dark: #31352B;
$darkBlue-900: #363853;
$white: #fff;
$black: #000;
$grey: #C2C2C2;
$silver-200: #ECECEC;
$hover-bg: #FFF2ED;


$rubik: "Rubik";
$opensans: "OpenSans";
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;