<section class="application page-section">
  <div class="container">
    <div class="application__inner">

      <div class="application__content">
        <h2 class="application__title title">Скачайте мобильное приложение</h2>
        <div class="application__text">
          <p>
            Суши и роллы, которые вы так любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.
          </p>
        </div>
        <div class="application__download">
          <a class="application__link" href="#">
            <img class="application__link-img" src="images/app-store.jpg" width="120" height="40" alt="App Store">
          </a>
          <a class="application__link" href="#">
            <img class="application__link-img" src="images/google-play.jpg" width="135" height="40" alt="Google Play">
          </a>
        </div>
      </div>

      <img class="application__img" src="images/application.jpg" width="570" height="380" alt="Приложение">

    </div>
  </div>
</section>