.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $silver-100;
  padding: 20px 0;

  &__wrapper {
    position: relative;
  }

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    margin-left: auto;
  }

  &__top {
    display: none;
  }

  &__close {
    width: 25px;
    height: 25px;
    position: relative;
  }

  &__close-line {
    display: block;
    transform: rotate(45deg);
    height: 2px;
    background-color: $darkBlue-900;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      transform: rotate(270deg);
      height: 2px;
      background-color: $darkBlue-900;
    }

  }

  &__list {
    display: flex;
    margin-right: 49px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 45px;
    }

  }

  &__link {
    font-size: 18px;
    @include states ();
  }

  .contacts {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__open {
    width: 30px;
    height: 22px;
    position: relative;
    display: none;
  }

  &__open-line {
    display: block;
    height: 2px;
    background-color: $darkBlue-900;
  }

  &__open-line::after,
  &__open-line::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $darkBlue-900;
  }

  &__open-line::after {
    bottom: 0;
  }

  &__open-line::before {
    top: 0;
  }

}

.user-nav {
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 10px;
    }

  }

  &__btn {
    padding: 13px 13px;
  }

  &__img {
    width: 24px;
    height: 24px;
    fill: $darkBlue-900;
  }

}

.cart {
  display: none;
  position: absolute;
  right: 2%;
  background-color: $silver-100;
  box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, .4);
  max-width: 320px;
  width: 100%;
  max-height: 300px;
  padding: 15px 10px;
  overflow-y: scroll;
  z-index: 999;

  &--active {
    display: block;
  }

  &__text {
    display: block;
    font-size: 18px;

    &:first-child {
      border-bottom: 1px solid $grey;
      padding-bottom: 15px;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $grey;
      bottom: 0;
      right: 0;
    }

  }

  &__img {
    object-fit: cover;
  }

  &__name,
  &__price {
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__result {
    margin: 15px 0;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 992px) {

  .header {
    padding: 5px 0;
  }

}

@media (max-width: 880px) {

  .menu {

    &__box {
      position: absolute;
      transform: translateX(-200%);
      top: 0;
      left: -15px;
      height: 100vh;
      max-width: 300px;
      width: 100%;
      padding: 15px;
      flex-direction: column;
      align-items: center;
      background-color: $white;
      box-shadow: 6px 3px 8px 0px rgb(0 0 0 / 40%);
      z-index: 999;
      overflow-y: scroll;
      transition: all 0.3s;

      &.menu__box--active {
        transform: translateY(0%);
        transition: all 0.3s;
      }

    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0 25px;
    }

    &__list {
      margin-right: 0;
      margin-bottom: 15px;
      padding: 25px 0;
      flex-direction: column;
      position: relative;

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;
        width: 100%;
        background-color: rgba(194, 194, 194, .5);
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }

    }

    &__item {

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }

    }

    .contacts {
      display: block;
    }

    &__open {
      display: block;
      order: 2;
    }

  }

  .user-nav {
    margin-right: 20px;

    &__item {

      &:not(:last-child) {
        margin-right: 5px;
      }

    }

  }

}

@media (max-width: 480px) {

  .menu {
    flex-direction: column;
  }

  .cart {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

}