<header class="header">
  <div class="container">

    <nav class="menu">

      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="логотип" width="214" height="64">
      </a>

      <div class="menu__box">

        <button class="menu__btn" type="button">
          <span class="menu__open"></span>
          <span class="sr-only">
            Меню
          </span>
        </button>

        <div class="menu-left menu-left--close">

          <nav class="menu-left__box">

            <div class="menu-left__top">

              <a class="logo" href="#">
                <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
              </a>

              <button class="menu-left__btn" type="button">
                <span class="menu-left__close"></span>
                <span class="sr-only">
                  Закрыть меню
                </span>
              </button>
            </div>

            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link menu__link--active" href="#">Главная</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Меню</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Контакты</a>
              </li>
            </ul>
          </nav>

          <address class="contacts">

            <ul class="contacts__list">
              <li class="contacts__item contacts__item--location">
                <a class="contacts__link" href="#">ул. Смирнова 2/3</a>
              </li>
              <li class="contacts__item contacts__item--phone">
                <a class="contacts__link" href="tel:79068057043">79068057043</a>
              </li>
              <li class="contacts__item contacts__item--message">
                <a class="contacts__link" href="mailto:support@sfood.com">support@sfood.com</a>
              </li>
            </ul>

            <ul class="contacts__social-list">
              <li class="contacts__social-item">
                <a class="contacts__social-link" href="#" target="_blank">
                  <img class="contacts__social-img" src="images/icons/facebook.svg" alt="фейсбук">
                </a>
              </li>
              <li class="contacts__social-item">
                <a class="contacts__social-link" href="#" target="_blank">
                  <img class="contacts__social-img" src="images/icons/twitter.svg" alt="твиттер">
                </a>
              </li>
              <li class="contacts__social-item">
                <a class="contacts__social-link" href="#" target="_blank">
                  <img class="contacts__social-img" src="images/icons/instagram.svg" alt="инстаграм">
                </a>
              </li>
            </ul>

          </address>



        </div>

        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" id="menu">Меню</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="user-nav">
          <li class="user-nav__item">
            <button class="user-nav__btn" type="button">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
              <span class="sr-only">
                Поиск
              </span>
            </button>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn" type="button">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">
                Корзина
              </span>
              <span class="user-nav__num">4</span>
            </button>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn" type="button" id="switch">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#dark-theme"></use>
              </svg>
              <span class="sr-only">
                Темная тема
              </span>
            </button>
          </li>

        </ul>

      </div>

    </nav>

  </div>
</header>