<article class="product-card" data-id="06">
    <div class="product-card__wrapper">
        <div class="product-card__top">
            <img class="product-card__img" src="images/products/baked-rolls/6.png" width="210" height="140" alt="Ролл осенний">
            <h3 class="product-card__name">Ролл осенний</h3>
        </div>
        <span class="product-card__structure">
            <span>Вес: 293 г. / 8 шт.</span>
            <span>Калорийность: 220 Ккал / 918 кДж на 100 г.</span>
            <span>Б/Ж/У: 7,3 / 13,5 / 18,8</span>
            <span>Состав: Рис, сыр сливочный, лосось, курица копчёная, соус "Унаги", соус для запекания (майонез, икра тобико микс, сыр «Пармезан»), кунжут, нори</span>
        </span>
        <div class="product-card__bottom">
            <div class="product-card__box">
                <div class="counter counter-wrapper">
                    <button class="counter__control" data-action="minus" type="button">-</button>
                    <div class="counter__current" data-counter>1</div>
                    <button class="counter__control" data-action="plus" type="button">+</button>
                </div>
                <span class="product-card__price">320 <span>₽</span></span>
            </div>
            <button class="btn btn--add product-card__btn" type="button" data-cart>В корзину</button>
            <a class="btn product-card__btn" href="#">Подробнее</a>
        </div>
    </div>
</article>