<article class="product-card" data-id="07">
    <div class="product-card__wrapper">
        <div class="product-card__top">
            <img class="product-card__img" src="images/products/7.png" width="210" height="140" alt="Ролл Сливочная курица">
            <h3 class="product-card__name">Ролл Сливочная курица</h3>
        </div>
        <span class="product-card__structure">
            <span>Вес: 286 г. / 8 шт.</span>
            <span>Калорийность: 149.80 Ккал / 626,8 кДж на 100 г.</span>
            <span>Б/Ж/У: 7 / 7,2 / 15,2</span>
            <span>Состав: Рис, нори, копчёная курица, сливочный сыр, огурец, кунжут, плавленый сыр, соус «Терияки»</span>
        </span>
        <div class="product-card__bottom">
            <div class="product-card__box">
                <div class="counter counter-wrapper">
                    <button class="counter__control" data-action="minus">-</button>
                    <div class="counter__current" data-counter>1</div>
                    <button class="counter__control" data-action="plus">+</button>
                </div>
                <span class="product-card__price">280 <span>₽</span></span>
            </div>
            <button class="btn btn--add product-card__btn" type="submit" data-cart>В корзину</button>
            <a class="btn product-card__btn" href="#">Подробнее</a>
        </div>
    </div>
</article>