<article class="product-card" data-id="03">
    <a class="product-card__link" href="#">
        <div class="product-card__top">
            <img class="product-card__img" src="images/products/3.png" width="210" height="140" alt="Ролл Вулкан с тунцом и лососем">
            <h3 class="product-card__name">Ролл Вулкан с тунцом и лососем</h3>
        </div>
        <span class="product-card__structure">
            <span>Вес: 268 г. / 10 шт.</span>
            <span>Калорийность: 225 Ккал / 941,40 кДж на 100 г.</span>
            <span>Б/Ж/У: 8,5 / 12,9 / 20,7</span>
            <span>Состав: Рис, лосось, тунец, соус для запекания (майонез, икра тобико микс, сыр «Пармезан»), соус "Унаги", нори, кунжут</span>
        </span>
        <div class="product-card__bottom">
            <span class="product-card__price">384 <span>руб</span> . </span>
            <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
        </div>
    </a>
</article>