<article class="product-card" data-id="05">
    <div class="product-card__wrapper">
        <div class="product-card__top">
            <img class="product-card__img" src="images/products/5.png" width="210" height="140" alt="Ролл Вулкан сырный">
            <h3 class="product-card__name">Ролл Вулкан сырный</h3>
        </div>
        <span class="product-card__structure">
            <span>Вес: 248 г. / 10 шт.</span>
            <span>Калорийность: 255 Ккал / 1067 кДж на 100 г.</span>
            <span>Б/Ж/У: 8,6 / 15,6 / 22</span>
            <span>Состав: Рис, сыр моцарелла, соус для запекания (майонез, икра тобико микс, сыр пармезан), соус "Унаги", нори, кунжут</span>
        </span>
        <div class="product-card__bottom">
            <div class="product-card__box">
                <div class="counter counter-wrapper">
                    <button class="counter__control" data-action="minus">-</button>
                    <div class="counter__current" data-counter>1</div>
                    <button class="counter__control" data-action="plus">+</button>
                </div>
                <span class="product-card__price">244 <span>руб</span> . </span>
            </div>
            <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
        </div>
    </div>
</article>