<article class="product-card" data-id="01">
    <a class="product-card__link" href="#">
        <div class="product-card__top">
            <img class="product-card__img" src="images/products/1.png" width="210" height="140" alt="Ролл Белый тигр">
            <h3 class="product-card__name">Ролл Белый тигр</h3>
        </div>
        <span class="product-card__structure">
            <span>Вес: 243 г. / 8 шт.</span>
            <span>Калорийность: 260 Ккал / 1087,84 кДж на 100 г.</span>
            <span>Б/Ж/У: 5,6 / 19,4 / 17,3</span>
            <span>Состав: Рис, огурец, курица копчёная, соус для запекания (майонез, икра тобико микс, сыр «Пармезан»), соус "Унаги", кунжут, нори</span>
        </span>
        <div class="product-card__bottom">
            <span class="product-card__price">231 <span>руб</span> . </span>
            <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
        </div>
    </a>
</article>