<section class="reviews page-section">
  <div class="container">
    <h2 class="reviews__title title">Отзывы клиентов</h2>

    <ul class="reviews__slider">

      <li class="reviews__box">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="Дарья">
          <blockquote class="reviews__card">
            <div class="reviews__text">
              <p>
                Оригами - одна из лучших служб доставки азиатской еды в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </div>
            <cite class="reviews__name">Дарья</cite>
            <span class="reviews__post">Ценитель вкусной еды</span>
          </blockquote>
        </div>
      </li>

      <li class="reviews__box">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="Дарья">
          <div class="reviews__card">
            <div class="reviews__text">
              <p>
                Оригами - одна из лучших служб доставки азиатской еды в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </div>
            <span class="reviews__name">Дарья</span>
            <span class="reviews__post">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

      <li class="reviews__box">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="Дарья">
          <div class="reviews__card">
            <div class="reviews__text">
              <p>
                Оригами - одна из лучших служб доставки азиатской еды в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </div>
            <span class="reviews__name">Дарья</span>
            <span class="reviews__post">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

      <li class="reviews__box">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="Дарья">
          <div class="reviews__card">
            <div class="reviews__text">
              <p>
                Оригами - одна из лучших служб доставки азиатской еды в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </div>
            <span class="reviews__name">Дарья</span>
            <span class="reviews__post">Ценитель вкусной еды</span>
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>