<section class="discounts page-section">
  <div class="container">
    <h2 class="discounts__title title">Акции и скидки</h2>

    <div class="discounts__slider">


      <ul class="discounts__list">

        <li class="discounts__item">
          <a class="discounts__link" href="#">
            <img class="discounts__img" src="images/discounts/1.jpg" alt="Blaze Pizza" width="370" height="300">
            <div class="discounts__text">
              <p>
                Бесплатный сет в день рождения
              </p>
            </div>
          </a>
        </li>


        <li class="discounts__item">
          <a class="discounts__link" href="#">
            <img class="discounts__img" src="images/discounts/2.jpg" alt="Pizza Runcho" width="370" height="300">
            <div class="discounts__text">
              <p>
                Мини-роллы даром при заказе от тысячи рублей
              </p>
            </div>
          </a>
        </li>

        <li class="discounts__item">
          <a class="discounts__link" href="#">
            <img class="discounts__img" src="images/discounts/3.jpg" alt="Pizza Hut" width="370" height="300">
            <div class="discounts__text">
              <p>
                Скидки по программе лояльности
              </p>
            </div>
          </a>
        </li>

      </ul>

    </div>
  </div>
</section>