<section class="categories page-section">
  <div class="container">
    <h2 class="categories__title title">Категории</h2>
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/big-rolls.jpg);">
          <span class="categories__name">Большие роллы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/sets.jpg);">
          <span class="categories__name">Сеты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/gunuans.jpg);">
          <span class="categories__name">Гунканы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/sushi.jpg);">
          <span class="categories__name">Суши</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/snacks.jpg);">
          <span class="categories__name">Закуски</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/baked-rolls.jpg);">
          <span class="categories__name">Запеченные роллы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/hot-rolls.jpg);">
          <span class="categories__name">Горячие роллы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/salad.jpg);">
          <span class="categories__name">Салаты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/wok.jpg);">
          <span class="categories__name">Wok</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/soup.jpg);">
          <span class="categories__name">Супы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/desserts.jpg);">
          <span class="categories__name">Десерты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#" style="background-image: url(images/categories/drinks.jpg);">
          <span class="categories__name">Напитки</span>
        </a>
      </li>
    </ul>
  </div>
</section>