<section class="product page-section">
  <div class="container">
    <div class="product__wrapper">

      <ul class="product__list">
        <li class="product__card">
          <img class="product__img" src="images/products/big-rolls/1.png" width="420" height="280" alt="Ролл Филадельфия Лайт">
        </li>
        <li class="product__card">
          <img class="product__img" src="images/products/big-rolls/1.png" width="420" height="280" alt="Ролл Филадельфия Лайт">
        </li>
      </ul>

      <div class="product__content">
        <h2 class="product__title title">Ролл Филадельфия Лайт</h2>
        <div class="product__stars" data-rateyo-rating="4"></div>
        <span class="product__price">248 <span>руб</span>.</span>

        <div class="product__box">
          <div class="counter counter-wrapper">
            <button class="counter__control counter__control--minus" data-action="minus" type="button">-</button>
            <div class="counter__current" data-counter>1</div>
            <button class="counter__control counter__control--plus" data-action="plus" type="button">+</button>
          </div>
          <button class="product__btn btn btn--icon" type="button">Добавить в корзину</button>
        </div>

        <div class="pay">
          <h3 class="pay__title">Доставка и оплата</h3>
          <ul class="pay__list">
            <li class="pay__item">Минимальная сумма заказа — 500 руб.</li>
            <li class="pay__item">Время доставки заказа — 45 мин.</li>
            <li class="pay__item">Оплата осуществляется наличными и банковской картой.</li>
          </ul>
        </div>
        <a class="btn--underline" href="#">Подробнее</a>
      </div>

    </div>
  </div>

  <span class="line"></span>

  <div class="container">

    <div class="tabs">

      <ul class="tabs__top">
        <li class="tabs__top-item">
          <a class="tabs__top-link tabs__top-link--active" href="#tab-1">
            Описание
          </a>
        </li>
        <li class="tabs__top-item">
          <a class="tabs__top-link" href="#tab-2">
            Характеристики
          </a>
        </li>
        <li class="tabs__top-item">
          <a class="tabs__top-link" href="#tab-3">
            Отзывы
            <span>(2)</span>
          </a>
        </li>
      </ul>

      <ul class="tabs__content">

        <li class="tabs__content-items tabs__content-items--active" id="tab-1">
          <div class="tabs__content-text">
            <p>
              Это суши, закручивающиеся с помощью специального бамбукового коврика (макису) в лист нори.
            </p>
            <p>
              Блюдо, готовое к подаче, выглядит как небольшие цилиндры из риса, завернутые в нори, омлет или кусочек
              рыбы. После
              скручивания ролл разрезают и подают на стол. Обязательным условием для подачи таких роллов является парное
              количество
              кусочков, как правило, 6-8.
            </p>
            <p>
              Популярные виды начинок для Макидзуси это авокадо, различные виды рыб (лосось, тунец), омлет и рубленные
              морепродукты.
            </p>
          </div>
        </li>

        <li class="tabs__content-items" id="tab-2">
          <ul class="tabs__content-list">
            <li class="tabs__content-item"> <span>Ингредиенты:</span> рис, лосось, сливочный сыр, нори</li>
            <li class="tabs__content-item"> <span>Вес:</span> 255 гр</li>
            <li class="tabs__content-item"> <span>Количество:</span> 8 шт</li>
            <li class="tabs__content-item"> <span>Калорийность (на 100г):</span> 295 ккал</li>
          </ul>
        </li>

        <li class="tabs__content-items" id="tab-3">

          <div class="reviews">

            <h2 class="reviews__title">Мнение наших клиентов</h2>

            <ul class="reviews__list">
              <li class="reviews__card">
                <div class="reviews__top">
                  <div class="reviews__box">
                    <img class="reviews__img" src="images/product-reviews/1.jpg" width="70" height="70" alt="аватар">
                    <div class="reviews__info">
                      <span class="reviews__name">Андрей</span>
                      <span class="reviews__data">10.06.2021</span>
                    </div>
                  </div>
                  <div class="reviews__stars" data-rateyo-rating="5"></div>
                </div>
                <div class="reviews__text">
                  <p>
                    Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
                  </p>
                </div>
              </li>
              <li class="reviews__card">
                <div class="reviews__top">
                  <div class="reviews__box">
                    <img class="reviews__img" src="images/product-reviews/1.jpg" width="70" height="70" alt="аватар">
                    <div class="reviews__info">
                      <span class="reviews__name">Екатерина Белая</span>
                      <span class="reviews__data">7.06.2021</span>
                    </div>
                  </div>
                  <div class="reviews__stars" data-rateyo-rating="4"></div>
                </div>
                <div class="reviews__text">
                  <p>
                    этот ролл неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить. Рыба
                    свежая и очень
                    вкусная. Рекомендую.
                  </p>
                </div>
              </li>
            </ul>

            <h2 class="reviews__title">Оставить отзыв</h2>

            <form class="reviews__form" action="#">
              <span class="reviews__mark">Ваша оценка *</span>
              <div class="reviews__stars reviews__stars--unfill" data-rateyo-rating="0"></div>
              <div class="reviews__fields">
                <label class="reviews__label">
                  Ваш отзывы *
                  <textarea class="reviews__input reviews__textarea" placeholder="Введите текст отзыва" required></textarea>
                </label>
                <div class="reviews__wrapper">
                  <label class="reviews__label">
                    Имя *
                    <input class="reviews__input" type="text" placeholder="Введите ваше имя" required>
                  </label>
                  <label class="reviews__label">
                    Email *
                    <input class="reviews__input" type="text" placeholder="youremail@mail.com" required>
                  </label>
                </div>
              </div>
              <label class="reviews__label-checkbox checkbox">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__text"></span>
                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
              </label>
              <button class="btn reviews__btn" type="submite">Оставить отзыв</button>
            </form>

          </div>
        </li>

      </ul>

    </div>
  </div>
</section>