<section class="delivery">
  <div class="container">
    <div class="delivery__inner">

      <div class="delivery__content">
        <h1 class="sr-only">Сервис быстрой доставки японской еды - Оригами</h1>
        <h2 class="delivery__title">
          доставка
          <span class="delivery__subtitle">за 45 минут</span>
        </h2>
        <div class="delivery__text">
          <p>
            Самый вкусный и быстрый сервис доставки японской еды в вашем городе. Не уложимся в срок - заказ за наш счёт.
          </p>
        </div>
        <a class="btn delivery__link-order" href="#">Заказать</a>
        <a class="btn--underline" href="#">Подробнее</a>
      </div>

      <img class="delivery__img" src="images/delivery.jpg" width="632" height="428" alt="вариант сервировки">

    </div>
  </div>
</section>