<article class="product-card" data-id="17">
  <div class="product-card__wrapper">
    <div class="product-card__top">
      <img class="product-card__img" src="images/products/wok/1.png" width="210" height="140" alt="Лапша удон с овощами">
      <h3 class="product-card__name">Лапша удон с овощами</h3>
    </div>
    <span class="product-card__structure">
      <span>Вес: 350 г.</span>
      <span>Калорийность: 180.90 Ккал / 756,9 кДж на 100 г.</span>
      <span>Б/Ж/У: 4,2 / 8,0 / 22,4</span>
      <span>Состав: лапша удон, цукини, болгарский перец, морковь, репчатый красный лук, соус "Терияки", растительное масло, кунжут</span>
    </span>
    <div class="product-card__bottom">
      <div class="product-card__box">
        <div class="counter counter-wrapper">
          <button class="counter__control" data-action="minus">-</button>
          <div class="counter__current" data-counter>1</div>
          <button class="counter__control" data-action="plus">+</button>
        </div>
        <span class="product-card__price">231 <span>₽</span></span>
      </div>
      <button class="btn btn--add product-card__btn" type="submit" data-cart>В корзину</button>
      <a class="btn product-card__btn" href="#">Подробнее</a>
    </div>
  </div>
</article>