<section class="benefit page-section">
  <div class="container">
    <div class="benefit__inner">

      <img class="benefit__img" src="images/benefits.jpg" alt="">

      <div class="benefit__content">

        <h2 class="benefit__title title">
          Оставайтесь дома, а&nbsp;мы&nbsp;позаботимся о еде
        </h2>

        <div class="benefit__text">
          <p>
            У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо
            сейчас и получите
            скиидку!
          </p>
        </div>

        <ul class="benefit__list">
          <li class="benefit__item benefit__item--timer">
            Быстрая доставка за 15 минут
          </li>
          <li class="benefit__item benefit__item--delivery">
            Вежливые курьеры
          </li>
          <li class="benefit__item benefit__item--restaurant">
            Более 500 заведений
          </li>
        </ul>

        <a class="btn benefit__btn" href="#">Подробнее</a>

      </div>

    </div>
  </div>
</section>