<article class="product-card" data-id="13">
    <a class="product-card__link" href="#">
      <div class="product-card__top">
        <img class="product-card__img" src="images/products/sushi/3.png" width="210" height="140" alt="Гункан с угрем">
        <h3 class="product-card__name">Гункан с угрем</h3>
      </div>
      <span class="product-card__structure">
        <span>Вес: 40 г. / 1 шт.</span>
        <span>Калорийность: 216 Ккал / 903,74 кДж на 100 г.</span>
        <span>Б/Ж/У: 8,5 / 16,5 / 23,7</span>
        <span>Состав: Рис, копчёный угорь, соус "Спайс", нори</span>
      </span>
      <div class="product-card__bottom">
        <span class="product-card__price">135 <span>руб</span> . </span>
        <button class="btn product-card__btn" type="submit" data-cart>В корзину</button>
      </div>
    </a>
  </article>